<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Nexus.Client.CLI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Nexus.Client.CLI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
		<Nexus.Client.CLI.Properties.Settings>
   <setting name="SettingsUpgraded" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="InstalledGamesDetected" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RememberedGameMode" serializeAs="String">
    <value />
   </setting>
   <setting name="ModCompressionLevel" serializeAs="String">
    <value>Ultra</value>
   </setting>
   <setting name="ModCompressionFormat" serializeAs="String">
    <value>SevenZip</value>
   </setting>
   <setting name="SelectedAddModCommandIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CheckForNewModVersions" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AddMissingInfoToMods" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CloseModManagerAfterGameLaunch" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CloseModManagerAfterGameLaunchIsRemembered" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RememberGameMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ScanSubfoldersForMods" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CheckForUpdatesOnStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NumberOfConnections" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="UserLocation" serializeAs="String">
    <value />
   </setting>
   <setting name="PremiumOnly" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UpdateCheckInterval" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LastUpdateCheckDate" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ModVersionsCheckInterval" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LastModVersionsCheckDate" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TempPathFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="TraceLogFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="ShowExpandedCategories" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowEmptyCategory" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="HideModUpdateWarningIcon" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SkipReadmeFiles" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowSidePanel" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CategoryViewDefaultSortOrder" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CategoryViewDefaultSortColumn" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UseCategoryView" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OfflineMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SupportOfflineMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UseMultithreadedDownloads" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="InstallationPaths" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="ExecutablePaths" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="CompletedSetup" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfBoolean />
    </value>
   </setting>
   <setting name="ModFolder" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="CustomGameModeSettings" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfPerGameModeSettingsOfObject />
    </value>
   </setting>
   <setting name="InstallInfoFolder" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="WindowPositions" serializeAs="Xml">
    <value>
     <WindowPositions />
    </value>
   </setting>
   <setting name="DockPanelLayouts" serializeAs="Xml">
    <value>
     <KeyedSettingsOfString />
    </value>
   </setting>
   <setting name="ColumnWidths" serializeAs="Xml">
    <value>
     <ColumnWidths />
    </value>
   </setting>
   <setting name="SplitterSizes" serializeAs="Xml">
    <value>
     <SplitterSizes />
    </value>
   </setting>
   <setting name="CustomLaunchCommands" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="CustomLaunchCommandArguments" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="SelectedLaunchCommands" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
   <setting name="RepositoryUsernames" serializeAs="Xml">
    <value>
     <KeyedSettingsOfString />
    </value>
   </setting>
   <setting name="DelayedSettings" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfKeyedSettingsOfString />
    </value>
   </setting>
   <setting name="ShowStartupMessage" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CheckForTipsOnStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoPluginSorting" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ManageMultiplePluginTask" serializeAs="String">
    <value>False</value>
   </setting>
  </Nexus.Client.CLI.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<Nexus.Client.CLI.Properties.Settings>
   <setting name="ModManagerUrl" serializeAs="String">
    <value>http://skyrim.nexusmods.com/downloads/file.php?id=1334</value>
   </setting>
   <setting name="HelpLinks" serializeAs="Xml">
    <value>
     <KeyedSettingsOfString />
    </value>
   </setting>
   <setting name="ToolFolder" serializeAs="Xml">
    <value>
     <PerGameModeSettingsOfString />
    </value>
   </setting>
  </Nexus.Client.CLI.Properties.Settings>
	</applicationSettings>
</configuration>
